<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>

<div class="page-header">
  <h1>Simple</h1>
</div>
<!-- menu bar -->
<div class="col-sm-2">
  <div id="admin-content">
    <div id="left-menu">
      <ul>
        <li>
          <hr>
          <a href="/">Home</a>
        </li>
        <li>
          <hr>
          <a href="/accessories" style="text-transform: uppercase">Accessories</a>
        </li>
        <li>
          <hr>
          <a href="/denim" style="text-transform: uppercase">Denim</a>
        </li>
        <li>
          <hr>
          <a href="/footwear" style="text-transform: uppercase">Footwear</a>
        </li>
        <li>
          <hr>
          <a href="/jeans" style="text-transform: uppercase">Jeans</a>
        </li>
        <li>
          <hr>
          <a href="/outwear" style="text-transform: uppercase">Outerwear</a>
        </li>
        <li>
          <hr>
          <a href="/pants" style="text-transform: uppercase">Pants</a>
        </li>
        <li>
          <hr>
          <a href="/shirt" style="text-transform: uppercase">Shirts</a>
        </li>
        <li>
          <hr>
          <a href="/t-shirt" style="text-transform: uppercase">T-Shirts</a>
        </li>
        <li>
          <hr>
          <a href="/short" style="text-transform: uppercase">Shorts</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- akhir menu bar -->
<div class="col-sm-10">
<router-outlet></router-outlet>
</div>